<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="nineteen02_urban_employees" frontName="nineteen02_urban_employees">
            <module name="Nineteen02_Urban"/>
        </route>
    </router>
</config>
